@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000000;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}

html,
body,
#root {
  height: 100%
}


body {
  @apply bg-gray-50 text-gray-800
}


.container {
  @apply max-w-6xl mx-auto px-4;
}